
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Montserrat:wght@400;500&display=swap');

*{
    outline: none;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

body {
    color: #fff;
    background-image: url('/images/BackgroundBody.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
}

.header {
    background-image: url('/images/blog-tech-conferences.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header__main__container {
    position: relative;
    z-index: 2;
}

.header::before {
    content: '';
    background-color: #15162b;
    opacity: 0.9;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/images/header_waves.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.background__texture {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/images/texture.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}


.header__container {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0px 40px;
    position: relative;
}

.header__socials {
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}

.header__social-rectangle {
    height: 28px;
    width: 1px;
    background-color: #ffffff;
    margin: 0px 20px;
    border-radius: 1px;
}

.header__social {
    width: 25px;
    height: 25px;
}



.header__social__number {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 0.4px;
    font-family: 'Montserrat' , sans-serif;
    margin-left: 14px;
}

.header__container-borders {
    border-top: 2px solid rgba(255, 255, 255, 0.05);
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    padding: 24px 0px 27px;
}

.header__nav {
    display: flex;
}

.header__nav-item {
    margin-right: 32px;
    font-family: 'Montserrat' , sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.53px;
    color: #fff;
    padding-bottom: 4px ;
    padding-top: 4px;
    text-decoration: none;
    border-top:1px solid transparent;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-item:hover {
    text-decoration: none;
    border-bottom: 1px #fff solid;
    color: #fff;
}

.header__button {
    width: 193px;
    height: 53px;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(-16deg, #efd855 0%, #fffbb6 100%);
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
}

.header__logo2-img {
    width: 322px;
    height: 92px;
    margin-bottom: 56px;
}

.header__content {
    padding: 50px 0px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:1346px;
}

.header__content__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first__text {
    background-image: url('/images/small-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    width: 319px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header__content-title {
    font-size: 90px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    line-height: 100.29px;
    text-transform: uppercase;
    text-align: center;
    span {
        font-size: 24px;
        letter-spacing: 6px;
        line-height: 50px;
    }
}

.header__content-deadline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__content__location,
.header__content__data {
    display: flex;
    align-items: center;
}

.header__content__location-text,
.header__content__data-text {
    font-family: 'Montserrat' ,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.header__content__location-icon,
.header__content__data-icon {
    margin-right: 27px;
}

.main__celebrating-container {
    max-width: 1430px;
    margin: 0 auto;
    padding: 110px 40px 110px;
    position: relative;
}

.main__celebrating-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.main__celebrating-title {
    font-family: "Jost";
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
}

.main__celebrating-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.main__celebrating-card {
    min-height: 250px;
    width: 310px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
}

.main__celebrating-card__icon {
    margin-bottom: 33px;
    max-width: 70px;
    max-height: 70px;
}

.main__celebrating-card__title {
    font-family: 'Jost';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.36px;
    line-height: 43px;
}

.main__global-network__container {
    background-image: url('/images/247.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 103px 40px 93px;
}

.main__global-network__content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__global__opportunities-card__img {
    margin-bottom: 35px;
}

.main__global-network__title {
    font-family: "Jost", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
}

.main__global__opportunities-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__global__opportunities__title {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.36px;
    margin-bottom: 70px;
}

.main__global__opportunities-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main__global__opportunities-card {
    width: 268px;
    min-height: 179px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__global__opportunities-card__title {
    font-family: "Jost" , sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0.36px;
    text-align: center;
}

.main__opportunities-button {
    width: 430px;
    height: 83px;
    color: #313131;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 58.1px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.main__speaker-container {
    background-color: #f9f9f9;
    padding: 139px 40px 132px;
}

.main__speaker-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1700px;
    margin: 0 auto;
}

.main__speaker-content__title {
    color: #313131;
    font-family: "Jost", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    margin-bottom: 85px;
}

.main__speaker-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__speaker-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    min-height: 468px;
    background-color: #fff;
    box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
    padding: 35px 35px 51px;
    margin: 10px;
}
.main__speaker-card:last-child {
   
}

.main__speaker-card__title {
    color: #313131;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 23.35px;
    margin-bottom: 19px;
}

.main__speaker-card__description {
    color: #919191;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.35px;
    letter-spacing: 1.16px;
}

.main__speaker-card__image {
    height: 265px;
    background-color: #1da7ba;
    border-radius: 50%;
    margin-bottom: 26px;
    object-fit: cover;
    width: 90%;
}

.main__participation__container {
    padding: 152px 40px 192px;
}

.main__participation__content {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__participation__title {
    color: #ffffff;
    font-family: "Jost",sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    margin-bottom: 69px;
}

.main__participation__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.main__participation__card {
    width: 315px;
    min-height: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    padding: 32px 0px;
    background-color: #8965b4;
    background-image: linear-gradient(-16deg, #ba89f4 0%, #36f2e3 100%);
    margin: 0 auto 30px;
}


.main__participation__card-status {
    width: 100%;
    height: 53px;
    background-color: #ba89f4;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-family: "Jost", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 53px;
    margin-bottom: 22px;
}

.main__participation__card-price {
    display: flex;
    margin-bottom: 15px;
}

.hryvna {
    width: 14px;
    height: 18px;
    background-image: url('/images/hryvna.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 9px;
}

.afterDiscount {
    font-family: "Jost";
    font-size: 56px;
    font-weight:600;
    line-height: 60px;
    color: #000000;
}

.beforeDiscound {
    font-family: "Jost";
    font-size: 56px;
    font-weight:600;
    line-height: 60px;
    color: #7e7e7e;
    text-decoration: line-through;
}

.main__participation__card-data {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;
}

.main__participation__card-opportunities {
    max-width: 229px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 32px;
}

.main__participation__card-opportunity {
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 600;
}

.main__participation__card-opportunity:last-child {
    margin-bottom: 0px;
}

.part__first__opportunity {
    font-weight: 500;
    color: #5f5f5f;
    text-decoration: line-through;
}

.main__participation__card-button {
    width: 156px;
    height: 60px;
    text-transform: none;
    color: #313131;
    font-size: 18px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.45px;
}

.main__participation__card2 {
    background-color: #ffffff;
    background-image: linear-gradient(-16deg, #efd855 0%, #fffbb6 100%);
    color: #313131;
    .part__first__opportunity {
        text-decoration: none;
        color: #313131;
        font-weight: 600;
    }

    .main__participation__card-status {
        background-color: #ba89f4;
        background-image: linear-gradient(-16deg, #efd855 0%, #fffbb6 100%);
        color:  #313131;
        font-weight: 500;
    }
}

.main__participation__card:last-child {

    background-color: #fff;
    background-image: none;
    .main__participation__card-status {
        background-color: #ba89f4;
        color: #313131;
        font-weight: 500;
    }
    
    .beforeDiscound {
        color: #b5b5b5;
    }

    .main__participation__card-data {
        color: #919191;
    }

    .main__participation__card-opportunity:first-child {
        text-decoration: line-through;
        color: #909090;
    }

    .main__participation__card-opportunity:nth-child(2) {
        text-decoration: line-through;
        color: #909090;
    }
}

.main__support__container {
    padding-bottom: 183px;
}

.main__support__content {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.main__support-title {
    
    color: #ffffff;
    font-family: "Jost",sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    margin-bottom: 59px;
}

.main__support-button {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    letter-spacing: 0.35px;
    font-weight: 400;
    padding: 16px 21px;
    text-transform: none;
    margin-right: 12px;
}

.main__support-button_active {
    color: #313131;
    font-weight: 600;
}

.main__support-button_active:hover {
    color: #313131;
}

.main__support-button:last-child {
    margin-right: 0;
}

.main__support-buttons {
    margin-bottom: 45px;
}

.main__support-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}

.main__support-card {
    width: 200px;
    height: 105px;
    background-color: #8965b4;
    border-radius: 5px;
    margin: 15px auto;
}

.main__support-card__active {
    background-color: #ffffff;
}

.main__place__container {
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 105px 40px;
}

.main__place__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__place__content-card {
    width: 355px;
    min-height: 345px;
    box-shadow: 0 3px 50px rgba(31, 31, 30, 0.15);
    background-color: #fff;
    padding: 37px 29px 39px;
    position: relative;
    margin-right: 10px;
}

.main__place__content-card::before {
    content: '';
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: rotate(45deg) translate(-14px, -11px);
}

.main__place__content-card__title {
    color: #313131;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 33px;
}



.content-card__data-img,
.content-card__location-img,
.content-card__tel-img,
.content-card__email-img {
   margin-right: 9px;
   margin-top: 5px;
}

.content-card__location-img {
    width: 13px;
    height: 17px;
}

.content-card__data-img {
    width: 17px;
    height: 17px;
}

.content-card__tel-img {
    width: 14px;
    height: 14px;
}

.content-card__email-img {
    width: 17px;
    height: 12px;
    margin-top: 9px;
}

.content-card__text {
    color: #616161;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.16px;
}

.main__place__content-card__location,
.main__place__content-card__data,
.main__place__content-card__tel,
.main__place__content-card__email {
    display: flex;
}

.main__place__map-icon {
    margin-left: 20px;
}

footer {
    background-color: #292929;
}

.footer__container
{
    max-width: 1350px;
    padding: 112px 40px 66px;
    margin: 0 auto;
}

.footer__sections__content {
    display: flex;
}

.footer__sections__content-title {
    color: #ffffff;
    font-family: 'Jost',sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.6px;
    margin-bottom: 44px;
}

.footer__sections-lists {
    display: flex;
    align-items: center;
}

.footer__sections-list{
    margin-right: 126px;
}

.footer__sections-list2{
    margin-right: 303px;
}

.footer__sections-list__item,
.footer__sections-list2__item {
    margin-bottom: 15px;
}

.footer__sections-list__item:last-child,
.footer__sections-list2__item:last-child  {
    margin-bottom: 0;
}

.footer__sections-list__item a,
.footer__sections-list2__item a {
    background-image: linear-gradient(-16deg, #ba89f4 0%, #36f2e3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ba89f4;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.16px;
}

.footer__sections__callback__tel,
.footer__sections__callback__email{
    display: flex;
    margin: 0 0 15px;
}


.footer__sections__callback-title {
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.6px;
    margin-bottom: 41px;
}

.footer__bottom {
    background-color: #232323;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
}

.footer__bottom-content {
    color: #b1b1b1;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.4px;
}

@media screen and (max-width: 1412px) {
   
    .header__container  {
        flex-wrap: wrap;
        justify-content: center !important;
    }
   
    .header__logo {
        margin-bottom: 20px;
    }

    .header__nav {
        margin-bottom: 20px;
    }

    .header__content-title {
        font-size: 60px;
        line-height: 85px;
    }

    .header__content__location-text {
        font-size: 24px;
        line-height: 44px;
        max-width: 435px;
    }

    .header__content__data-text {
        font-size: 24px;
        line-height: 44px;
        align-self: end;
    }

    .main__speaker-container {
        padding: 110px 40px;
    }

    .main__participation__card-status {
        font-size: 14px;
    }

    .afterDiscount {
        font-size: 32px;
        line-height: 42px;
    }

    .beforeDiscound {
        font-size: 32px;
        line-height: 42px;
    }

    .main__participation__card-data {
        font-size: 12px;
        line-height: 20px;
    }

    .main__participation__card-opportunity {
        font-size: 11px;
    }

    .main__participation__card-button {
        height: 42px;
        font-size: 14px;
    }


    .main__participation__card {
        min-height: 560px;
    }

    .footer__sections__content {
        flex-direction: column;
    }

    .footer__sections__content-title {
        margin-bottom: 25px;
    }

    .footer__sections-list__item,
    .footer__sections-list2__item {
        margin-bottom: 0;
    }

    .footer__sections-list2{
        margin-right: 0;
    }

    .footer__sections__nav {
        margin-bottom: 25px;
    }

    .footer__sections__callback__tel,
    .footer__sections__callback__email {
        margin-bottom: 0;
    }
    .main__speaker-cards {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    
    .header__content {
        padding-bottom: 60px;
    }

    .header__socials {
        justify-content: center;
    }

    .header__social__number {
        font-size: 10px;
        line-height: 14px;
        display: flex;
        flex-direction: column;
    }

    .header__nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__nav-item {
        font-size: 18px;
        margin: 10px;
    }

    .first__text {
        width: 265px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .header__content-title {
        font-size: 25px;
        line-height: 50px;
    }

    .header__content-title span {
        font-size: 12px;
        line-height: 40px;
    }

    .header__content__location {
        margin-bottom: 20px;
    }
    
    .header__content__data {
        align-self: end;
    }

    .header__content__location-text,
    .header__content__data-text {
        font-size: 14px;
        line-height: 30px;
    }

    .main__global__opportunities-cards {
        flex-direction: column;
    }

    .main__opportunities-button{
        width: 258px;
        font-size: 17px;
        line-height: 21px;
    }

    .main__celebrating-container {
        padding: 50px 40px 60px;
    }

    .main__celebrating-title {
        line-height: 42px;
    }

    .main__celebrating-card {
        min-height: 230px;
    }

    .main__global-network__container {
        padding: 60px 40px 70px;
    }

    .main__global__opportunities__title {
        font-size: 25px;
        line-height: 28px;
    }

    .main__global__opportunities-card {
        margin-bottom: 20px;
    }

    .main__opportunities-button {
        height: 64px;
        font-size: 13px;
    }

    .main__global__opportunities-card__img {
        width: 90px;
        margin-bottom: 20px;
    }

    .main__global__opportunities-card__title {
        font-size: 28px;
    }

    

    .main__place__content-card {
        max-width: 275px;
        width: auto;
    }

    .content-card__text {
        font-size: 12px;
        line-height: 23px;
    }
    
    .main__speaker-container {
        padding: 50px 40px 70px;
    }

    .main__speaker-card {
        width: 275px;
    }

    .main__speaker-cars {
        flex-wrap: wrap;
    }

    .main__speaker-card__image {
        height: 200px;
        width: 200px;
    }

    .main__speaker-content__title {
        margin-bottom: 40px;
    }
    .main__speaker-cards {
        flex-wrap: wrap;
    }

    .main__celebrating-title,
    .main__global-network__title,
    .main__speaker-content__title,
    .main__participation__title,
    .main__support-title {
        font-size: 32px;
    }

    .main__participation__container {
        padding: 50px 40px;
    }

    .main__support-buttons {
        display: flex;
        flex-direction: column;
    }

    .main__support__container {
        padding-bottom: 40px;
    }

    .main__support-title{
        margin-bottom: 15px;
    }

    .main__place__container {
        padding: 50px 40px;
    }

    .footer__container{
        padding: 50px 40px;
    }

    .footer__sections-list {
        margin-right: 50px;
    }
    
    .footer__sections-list__item a,
    .footer__sections-list2__item a {
        font-size: 12px;
        line-height: 38px;
    }

    .footer__sections-list__item ,
    .footer__sections-list2__item  {
        margin-bottom: -5px;
    }

    .footer__sections__content-title{
        margin-bottom: 20px;
    }

    .footer__sections__callback-title {
        margin-bottom: 25px;
    }

    .footer__sections__callback__tel, .footer__sections__callback__email {
        margin-bottom: 0;
    }

    .footer__bottom{
        padding: 20px 0;
    }
}